.title {
    text-align: center;
    font-size: xx-large;
    color: #EFF2DD;
}

.scoreboard {
    text-align: center;
    font-size: x-large;
    margin-top: 15px;
    color: #EFF2DD;
}

header {
    background-color: #516365;
}
